.cartContainer1{
    width: 100%;
    min-height: 100rem;
    max-height: auto;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: start;
}
.cartItemsSection{
    position: relative;
    width: 200rem;
    min-height: 100rem;
    max-height: auto;
    display: flex;
    justify-content: start;
    align-items: end;
    flex-direction: column;
    background-color: white;
}
.cartTotalSection{
    width: 100%;
    min-height: 100rem;
    max-height: auto;
    background-color:#ECECEC;
    
}
.totalContainer{
    width: 22rem;
    height: 60rem;
    margin: 5rem 2rem 2rem 4rem;
    /* background-color: red; */
}
.amt{
    float: right;
    position: relative;
}
.cartBtn{
    width: 100%;
    height: 3rem;
    background-color:#D39D4E;
    color: white;
    border-style: groove;
    border-width: 0;
    border-radius: 4px;
    margin-top: 3.5rem;
}
#warn-{
    background-color: grey;
}
.cartItemdiv{
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: 2rem;
    height: 18rem;
    background-color: brown;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.cartitem-pic{
    float: left;
    width: 40%;
    display: flex;
    align-items: center;
    height: 100%;
    background-color: white;
}
.cartItem-detal{
    position: relative;
    float: right;
    width: 60%;
    height: 100%;
    background-color:#F6F6F6;

}
.ItemDltbtn{
    position: absolute;
    top: 0rem;
    right: 0.2rem;
    border-style: none;
    border-radius: 6px;
    font-weight: 600;
    font-size: xx-large;
    background-color: #d39e4e00;
}
.ItemDltbtn:hover{
    color: rgb(243, 0, 0);
}
.qtybtn{
    background-color: rgba(250, 235, 215, 0);
    border-style: none;
}
.Item-linee{
    position: relative;
    left: 3rem;
    width: 20rem;
    height: 0.2px;
    background-color: rgb(199, 199, 199);
}
.text-1{
    font-weight: 500;
    width: 100%;
    height: 2rem;
    font-size: large;
    padding-left: 3rem;
    /* background-color: black; */
}
.emptyCartcat{
    width: 70%;
    height: 25rem;
    position: relative;
    left: -8rem;
    top: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color: pink; */
}
.jh{
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    width: 60rem;
    z-index: 109;

}
.emptbtn{
    margin-top: 1rem;
    width: 10rem;
    height: 2rem;
    background-color:#D39D4E;
    color: white;
    border-style: groove;
    border-width: 0;
    border-radius: 4px;
}