#shimr{
    animation-name: shimmer;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}
.patext{
    width: 10rem;
    height: 2rem;
    background-color: rgb(204, 204, 204);
    border-radius: 10px;
    margin: 0.5rem;
    animation-name: shimmer;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.bybtn{
    position: absolute;
    width: 6rem;
    height: 2rem;
    right: 0.5rem;
    background-color: rgb(204, 204, 204);
    border-style: none;
    border-radius: 15px;
    animation-name: shimmer;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes shimmer{
    0%{
      background-color: white;
    }
    25%{
        background-color:rgb(204, 204, 204);
    }
    50%{
        background-color: white;
    }
    75%{
        background-color:rgb(204, 204, 204);
    }
    100%{
        background-color: white;
    }
 }
