.home-top-offersec{
    width: 100%;
    height: 3rem;
    background-color: rgb(250, 245, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size:0.9rem;
}
.menu-togle{
    display: none;
}
.Navbar-LG-Container{
    width: 100%;
    height: 4rem;
    background-color:#ffffff;
    /* overflow: hidden; */
}
.LG-Navbar-secA{
    width: 16rem;
    height: 100%;
    float: left;
    margin-right: 3rem;
    /* background-color: blue; */
}
.Brand-logo{
    margin-top: 8.3%;
    height: 50%;
    float: right;
}

.Eyeglass-sec,.Sunglass-sec{
    height: 100%;
    width: auto;
    display: flex;
    margin-right: 2rem;
    font-size: larger;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
    float: left;
}
.Computer-sec{
    height: 100%;
    width: auto;
    display: flex;
    margin-right: 3.5rem;
    font-size: large;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
    float: left;
}
.search-sec{
    width: 20rem;
    height: 100%;
    float: left;
    /* background-color: red; */
}
.global-search-sec{
    border-style: none;
    border-radius: 20px;
    width: 100%;
}
.search-dev{
    margin-top: 4%;
}
.LG-Navbar-secB{
    width: 19rem;
    height: 100%;
    float: right;
    /* background-color: rgb(38, 126, 177); */
    display: flex;
    align-items: center;
    color: rgb(41, 22, 110);
}

.Logo-togle{
    font-size: 1.8rem;
    margin: .2rem;
}
.login-butn{
    border-style: none;
    width: 7rem;
    height: 2.2rem;
    margin-left: 0.8rem;
    border-radius: 7px;
    font-size: large;
    display: flex;
    justify-content: start;
    /* background-color: rgb(41, 22, 110) ; */
    color: rgb(41, 22, 110);

}
.Cart-count{
    width: 1.6rem;
    height: 1.6rem;
    background-color: rgb(41, 22, 110);
    border-radius: 1rem;
    color: white;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1.4rem;
    font-weight: 600;
}
.llink{
    color: rgb(41, 22, 110);

}
.sm-search{
 display: none;   
}

/* ------------------------------------------------- */
@media screen and (max-width: 1380px) {
    .Eyeglass-sec,.Sunglass-sec,.Computer-sec,.search-sec{
        display: none;
    }
    .menu-togle{
        display: block;
        width: 3rem;
        height: 100%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: green; */
    }
    .LG-Navbar-secA{
        width: 14rem;
    }
    .sm-search{
        margin-top: 0.5rem;
        width: 100%;
        height: 3.2rem;
        /* background-color: red; */
        display: block;   

    }

}



@media screen and (max-width: 768px) {
    .LG-Navbar-secB{
        width: 14.5rem;
    }

}


@media screen and (max-width: 560px) {
    .login-butn{
        display: none;
    }
    .LG-Navbar-secB{
        width: 6.5rem;
    }
    .LG-Navbar-secA{
        width: 10.5rem;
        margin-right: 0rem;
    }
    .Brand-logo{
        margin-top: 12%;
        height: 45%;
    }
}

@media screen and (max-width: 345px) {
    #fav{
        display: none;
    }
    .LG-Navbar-secB{
        width: 4rem;
    }

}