#bblack{
    text-decoration: none;
    color: black;

}
.home-top-offersec{
    width: 100%;
    height: 3rem;
    background-color: rgb(250, 245, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size:1rem;
}
.menu-togle{
    display: none;
}
.Navbar-LG-Container{
    z-index: 999;
    width: 100%;
    height: 4rem;
    background-color:#ffffff;
    /* overflow: hidden; */
}
.LG-Navbar-secA{
    width: 16rem;
    height: 100%;
    float: left;
    margin-right: 3rem;
    /* background-color: blue; */
}
.Brand-logo{
    margin-top: 8.3%;
    height: 50%;
    float: right;
}

.Eyeglass-sec,.Sunglass-sec{
    height: 100%;
    width: auto;
    display: flex;
    /* margin-right: 2rem; */
    font-size: larger;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
    float: left;
}
.Eyeglass-sec:hover{
    .eyeglass-hover-menu{
        display: block;
    }
    .P-brand{
        color: #D09839;
    }
    
}
.Sunglass-sec:hover{
    .eyeglass-hover-menu2{
        display: block;
    }
    .P-brand{
        color: #D09839;
    }
    
}
.Brand-sec:hover{
    .eyeglass-hover-menu2{
        display: block;
    }
    .P-brand{
        color: #D09839;
    }

}
.P-brand{
    color: gray;
}
.menu-style1{
    position: relative;
    float: left;
    width: 16rem;
    padding-top: 2rem; ;
    height: 100%;
    /* background-color: aqua; */
}
ul li{
    margin: 0.3rem;
}
.style1-top{
    font-size: 1.1rem;
    font-weight: 700;
    color: gray;
}

.LoginSection{
    border-radius: 0px 0px 10px 10px;
    position: absolute;
    top: 4rem;
    /* margin-left: 50rem; */
    right: 8rem;
    min-width: 15rem;
    height: 16rem;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.671);
    background-color: rgba(182, 182, 182, 0.212);
 

}

.eyeglass-hover-imgfrem1{
    
    position: relative;
    top: 0.7rem;
    margin: 0.5rem;
    border-radius: 10px;
    height: 80%;
    width: 10rem;
    float: left;
    overflow: hidden;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.500);
}
.eyeglass-hover-imgfrem2{
    
    position: relative;
    top: 0.7rem;
    margin: 0.5rem;
    border-radius: 10px;
    height: 80%;
    width: 12.7rem;
    float: left;
    overflow: hidden;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.500);
}


.frem1text{
    position: absolute;
    color: white;
    bottom: 0;
    font-size: medium;
    text-align: center;
    width: 100%;
    height: 2rem;
    backdrop-filter: blur(3px);
    /* background-color: rgba(0, 7, 5, 0.459); */
}


.eyeglass-hover-menu,.eyeglass-hover-menu2{
    display: none;
    border-radius: 0px 0px 10px 10px;
    position: absolute;
    top: 4rem;
    /* margin-left: 50rem; */
    left: 15rem;
    min-width: 70rem;
    height: 16rem;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.671);
    background-color: rgba(255, 255, 255, 0.425);
}
.Brand-sec{
    height: 100%;
    width: auto;
    display: flex;
    /* margin-right: 3.5rem; */
    font-size: large;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
    float: left;
}
.search-sec{
    width: 20rem;
    height: 100%;
    float: left;
    /* background-color: red; */
}
.global-search-sec{
    border-style: none;
    border-radius: 20px;
    width: 100%;
}
.search-dev{
    margin-top: 4%;
}
.LG-Navbar-secB{
    width: 19rem;
    height: 100%;
    float: right;
    /* background-color: rgb(38, 126, 177); */
    display: flex;
    align-items: center;
    color: rgb(41, 22, 110);
}

.Logo-togle{
    font-size: 1.8rem;
    margin: .2rem;
}
.login-butn{
    border-style: none;
    width: 7rem;
    height: 2.2rem;
    margin-left: 0.8rem;
    border-radius: 7px;
    font-size: large;
    display: flex;
    justify-content: start;
    /* background-color: rgb(41, 22, 110) ; */
    color: rgb(41, 22, 110);

}
.Cart-count{
    width: 1.6rem;
    height: 1.6rem;
    background-color: rgb(41, 22, 110);
    border-radius: 1rem;
    color: white;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1.4rem;
    font-weight: 600;
}
.llink{
    color: rgb(41, 22, 110);

}
.sm-search{
 display: none;   
}


/* ------------------------------------------------- */
@media screen and (max-width: 1380px) {
    .Eyeglass-sec,.Sunglass-sec,.Brand-sec,.search-sec{
        display: none;
    }
    .menu-togle{
        display: block;
        width: 3rem;
        height: 100%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: green; */
    }
    .LG-Navbar-secA{
        width: 14rem;
    }
    .sm-search{
        margin-top: 0.5rem;
        width: 100%;
        height: 3.2rem;
        /* background-color: red; */
        display: block;   

    }

}



@media screen and (max-width: 768px) {
    .LG-Navbar-secB{
        width: 14.5rem;
    }

}


@media screen and (max-width: 560px) {
    .login-butn{
        display: none;
    }
    .LG-Navbar-secB{
        width: 6.5rem;
    }
    .LG-Navbar-secA{
        width: 10.5rem;
        margin-right: 0rem;
    }
    .Brand-logo{
        margin-top: 12%;
        height: 45%;
    }
    .home-top-offersec{
        width: 100%;
        height: 3rem;
        background-color: rgb(250, 245, 214);
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size:0.7rem;
    }
    
}

@media screen and (max-width: 345px) {
    #fav{
        display: none;
    }
    .LG-Navbar-secB{
        width: 4rem;
    }

}