.containr-1{
    width: 100%;
    height: 7rem;
    /* background-color: rgb(60, 0, 128); */
    display: flex;
    justify-content: center;
}
.text-container-1{
    width:67rem;
    height: 100%;
    background-color: white;
}
.containr-1-link{
    font-size: medium;
    font-weight: 500;
}
.containr-1-head{
    font-size: 2.5rem;
    font-weight: 700;
}
.filtr-help{
    width: 12rem;
    /* position: relative;
    left: 2%;
    top: 2rem; */
    margin: 40px 5px 5px 3px ;
    border-radius: 10px;
    height: 4rem;
    background-color: #F6EBDC;
}
.product-containr{
    /* background-color: grey; */
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
}
.text-fil{
    position: relative;
    left: 0.2rem;
    top: 2rem;
    font-weight: 700;
    font-size: large;
}
.filter-containr{
    min-width: 12rem;
    min-height: 33rem;
    max-height: auto;
    z-index: 0;
    background-color: rgb(255, 255, 255);
}
/* ---------------------------- */
.items-containr{

    width: 65rem;
    min-height: 90rem;
    max-height: auto;
    position: relative;
    background-color: rgb(255, 255, 255);
}
.itemShortOption{
    width: 100%;
    height: 5rem;
    /* background-color: blue; */
}
.Item-filter-tgle{
    display: none;
}
.itemShortdivv{
    background-color: white;
}
.itemPoster{
    background-image: url("/public/Images/EyeGlassItemPAge/poster1Eyeglass.avif");
    background-size: cover;
    width: 100%;
    height: 8rem;
    background-color: grey;
}
.itemPosterimg{
    
    position: relative;
    width: 100%;
    height: auto;
}
.EyeItemsCard{
    margin: 1rem 1rem 1rem 0rem ;
    width: 30%;
    height: 24.5rem;
    /* float: left; */
    background-color: #F6F6F6;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.EyeItemsCardImage{
    width: 100%;
    height:15rem ;
    position: relative;
    background-color: white;
}
.EyeItemsCardImage:hover{
    .img1{
        display: none;
    }
}
.img1,.img2{
    position: absolute;
}
.ItemDtail{
    width: 100%;
    height: 9.5rem;
    padding: 0.5rem;
    /* background-color: red; */
    position: relative;
    align-items: end;

}
.buybtn{
    position: absolute;
    width: 8rem;
    height: 2rem;
    right: 0.5rem;
    border-style: groove;
    border-radius: 10px;
    border-color: rgb(143, 143, 143);
    border-width: 0.5px;
    font-weight: 600;
    

}
.favbtn{
    position: absolute;
    z-index: 5;
    right: 0.5rem;
    bottom: 1rem;
    border-style: none;
    font-size: 1.5rem;
    background-color: #f6ebdc00;
}
.favbtn:hover{
    color: rgb(173, 16, 16);
}
.akdv{
    display: flex;
    flex-wrap: wrap;
}

.containr-2{
    width: 100%;
    height: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 228, 228);
}
.containr-2-text,.containr-3-text{
    width: 50rem;
    min-height: 10rem;
    max-height: auto;
    margin-bottom: 5rem;
    padding: 2rem;
}
.containr-3{
    width: 100%;
    min-height: 30rem;
    max-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}



@media screen and (max-width: 1200px) {
    .itemShortOption{
        height: 8rem;
        /* background-color: blue; */
    }
    
    .Item-filter-tgle{
        display: block;
        width: 6rem;
        height: 2rem;
        margin: 1rem;
        position: relative;
        /* background-color: aquamarine; */
    }
    .EyeItemsCard{
        width: 46%;
        height: 34rem;
    }
    .filter-containr{
        display: none;
    }
    .hjhj{
        background-color: red;
    }

 
}
@media screen and (max-width: 1024px) 
{
    .EyeItemsCard{
        width: 100%;
        height: 40rem;
    }
    .ItemDtail{
        position: relative;
        bottom: -15rem;
    }
    .favbtn{
        font-size: 2rem;
        right: 2rem;
        bottom: -12rem;
    }
 
}
@media screen and (max-width: 768px) {
    .EyeItemsCard{
        height: 32rem;
    }
    .ItemDtail{
        position: relative;
        bottom: -7rem;
    }
 
}
@media screen and (max-width: 480px) {
    .containr-1-head{
        font-size: 1.5rem;
        font-weight: 700;
    }
    .EyeItemsCard{
        height: 26rem;
    }
    .ItemDtail{
        position: relative;
        bottom: -0.5rem;
    }
    .favbtn{
        bottom: -5rem;
    }
 
    
 
}


